/* Layout */

* {
  box-sizing: border-box;
}

.primary, .secondary {
  float: none;
  width: 100%;
}

 .primary {
  width: 60%;
  padding-right: 4px;

}

.secondary {
  width: 40%;
  padding-left: 4px;
}

.tertiary {
  clear: both;
  margin: 0 auto;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.limitations_container {
  padding-left: 1em;
  overflow: hidden;
  width: 92%;
}




th {
	text-align: left;
}


hr {
  margin-bottom: -15px;
}

/*.single {
	display: flex;
	flex-direction: column;
	justify-content: center;
}*/


/* Table styling */

#weights {
  margin: 1em auto;
  border-bottom: solid dashed;
}

#weights caption {
  text-align: center;
}


#oplimits {
  margin: 1em auto;
  border-bottom: 0.5px dashed black;
}

#oplimits td {
  border-bottom: 0.5px dashed black;
}

#oplimits caption {
  text-align: center;
}


tfoot td {
  padding: 10px 2px;
  font-size: 0.8em;
  font-style: italic;
  color: #8a97a0;
}

caption {
  font-size: 1.1em;
  font-style: italic;
  font-weight: bold;
  text-align: left;
}

.tables {
	margin: 1em auto;
}

.tables table {
  
  width: 100%;
  /* instead of adding `<br>` tags after tables, put a margin on
     the bottom of the table. */
  margin-bottom: 20px;
}

.MI {
  color: #8080ff;
  font-weight: bold;
}

caption {
  text-decoration: underline;
}

@media (min-width: 800px) {
  .primary, .secondary {
    float: left;
   }
  
}

/* Allow tables to expand to fill page when screen gets too narrow to use floated columns */
@media (max-width: 800px) {
  .primary, .secondary {
    width: 100%;
  }
}












